@page "/users"
@using Novell.Directory.Ldap
@using System.Security.Cryptography.X509Certificates
@attribute [StreamRendering]

<PageTitle>Users</PageTitle>

<h1>Users</h1>

<p>This component demonstrates showing data.</p>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>CN</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<string>? users;

    protected override async Task OnInitializedAsync()
    {

        LdapConnectionOptions options = new LdapConnectionOptions()
            .ConfigureRemoteCertificateValidationCallback(new System.Net.Security.RemoteCertificateValidationCallback((a, b, c, d) => true))
            .UseSsl();

        using (var connection = new LdapConnection(options))
        {
            connection.Connect("192.168.245.132", 636);
            connection.Bind("admin", "Secret2#");

            users = new List<string>();

            ILdapSearchResults searchResults = connection.Search(
                "CN=Users,DC=example,DC=com",
                LdapConnection.ScopeSub,
                "(&(objectClass=user)(objectCategory=person))",
                null,
                false
                );

            while (searchResults.HasMore())
            {
                var nextEntry = searchResults.Next();
                nextEntry.GetAttributeSet();
                users.Add(nextEntry.GetAttribute("distinguishedName").StringValue);
            }
        }
    }

}