name: Build & Deploy

on:
  push:
    branches: [ "main", "3.0" ]
  workflow_dispatch:

jobs:
  build_and_push:
    name: Build & Push to DockerHub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Read version
        run: echo "VERSION=$(cat VERSION)" >> $GITHUB_ENV

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up JDK 21
        uses: actions/setup-java@v4.2.2
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build all modules with Maven
        run: |
          mvn clean package -Pproduction

      - name: Build and Push Docker images
        run: |
          # Build and push directory module
          if [ -d "directory" ] && [ -f "directory/Dockerfile" ]; then
            docker build -t sysadminanywhere/directory:${{ env.VERSION }} -t sysadminanywhere/directory:latest ./directory
            docker push sysadminanywhere/directory:${{ env.VERSION }}
            docker push sysadminanywhere/directory:latest
          fi

          # Build and push inventory module
          if [ -d "inventory" ] && [ -f "inventory/Dockerfile" ]; then
            docker build -t sysadminanywhere/inventory:${{ env.VERSION }} -t sysadminanywhere/inventory:latest ./inventory
            docker push sysadminanywhere/inventory:${{ env.VERSION }}
            docker push sysadminanywhere/inventory:latest
          fi

          # Build and push main module
          if [ -d "main" ] && [ -f "main/Dockerfile" ]; then
            docker build -t sysadminanywhere/sysadminanywhere:${{ env.VERSION }} -t sysadminanywhere/sysadminanywhere:latest ./main
            docker push sysadminanywhere/sysadminanywhere:${{ env.VERSION }}
            docker push sysadminanywhere/sysadminanywhere:latest
          fi